.wrapper {
  width: 825px;
  height: 72px;
  background-color: var(--03-373F68);
  border-radius: 10px;

  padding-left: 24px;
  padding-right: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  margin-left: 16px;
  margin-right: 38px;

  font-size: var(--font-size-heading-3);
  font-weight: var(--font-weight-heading);
  color: var(--04-FFFFFF);
  letter-spacing: -0.25px;
}

.feedback {
  margin-left: auto;

  border-radius: 10px;
  width: 158px;
  height: 44px;
  background-color: var(--01-AD1FE1);

  color: hsla(230, 86%, 97%, 1);
  font-size: var(--font-size-heading-4);
  font-weight: var(--font-weight-heading);

  &:hover {
    cursor: pointer;
    background-color: hsl(282, 90%, 66%);
  }
}
